
body {
    background-image: url("backdrop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top {
    text-align: center;
    margin-bottom: 3em;
}


.title {
    display: inline;
    font-size: xx-large;
    font-weight: bold;
    font-style: normal;
}

.nav-link {
    color:coral;
    font-style: italic;
    font-size: large;
    text-decoration: none;
    padding: 2em;
}

div.new-line {
    white-space: pre-wrap;
}

.centered {
    text-align: center;
    align-content: center;
}

.small-italic {
    font-style: italic;
    font-size: small;
}

.form {
    margin: 5em auto;
    border-radius: 3em;
    background-color: bisque;
    padding: 3em;
    width: fit-content;
    background-size: 3em;
    border-style: outset;
    border-width: thick;
    border-color: bisque;
}

.form-item {
    margin: 1em;
}

.recipe-item {
    border-radius: 3em;
    border-style: groove;
    background-color: lightyellow;
    width: fit-content;
    max-width: 300px;
    display: inline-block;
    background-origin: padding-box;
    padding: 2em;
    margin: 1em;
}

.recipes-view {
    text-align: center;
}

.recipe {
    border-radius: 3em;
    width: fit-content;
    background-origin: padding-box;
    background-color:lemonchiffon;
    padding: 5em;
}

.inline {
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
}

img.recipe-large {
    padding: 2em;
    width:100%;
    max-width:600px;
    height: 100%;
    max-height: 600px;
}

img.recipe-small {
    width:100%;
    max-width:250px;
    height: 100%;
    max-height: 250px;
}

.err {
    color:red;
    font-weight: bold;
}

button {
    background-color: transparent;
    border-color: teal;
}

textarea.large-ta {
    min-width: 500px;
    min-height: 200px;
}

